.card {
  max-width: 30%;
  min-width: 240px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 12px;
  margin-bottom: 36px;
  margin-right: 12px;
  margin-left: 12px;
  border-radius: 8px;
  background-color: white;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
